<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios@0.19.0/dist/axios.min.js"></script>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form method="get" @submit="logoutSubmit" id="logout">
            <input type="submit" value="Sign Out"/>
        </form>
        <form th:action="@{/api/member/changePasswordForm}" method="get">
            <input type="submit" value="Change Password"/>
        </form>
    <script>
        var vm = new Vue({
            el : "#logout",
            methods : {
                logoutSubmit : function(e) {
                    e.preventDefault();
                    var url = "/customLogout"
                    localStorage.removeItem("loginUserEmail")
                    localStorage.removeItem("boolean")
                    alert("!!!!!!");
                    window.location.href = "/customLogout";
                }
            }
        })
    </script>
    </body>
</html>

